<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BBA NEWS</title>
</head>
<body>
    <div class="main-container">
        <header class="header">
            <div class="branding">
                <a href="javascript://">
                    <clr-icon shape="user"></clr-icon>
                    <span class="title">BBA NEWS</span>
                </a>
            </div>
        </header>

        <div class="content-container">
            <div class="content-area">
                <div class="center">
                    <h2 class="aligned-center">Welcome to BBA NEWS, please fill the below survey</h2>
                    <p class="aligned-center">Which of the below COVID-19 vaccine you are interested to take!</p>

                    <div class="separator"></div>

                    <div class="row">

                        <div class="col-sm-12 col-md-6 col-xl-3">
                            <div class="card">
                                <div class="card-header">
                                    <clr-icon shape="grid-view" dir="up" class="-color6" size="24" style="color: #374E61; width: 24px; height: 24px;"></clr-icon> Covaxin
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <a href="https://www.bharatbiotech.com/covaxin.html" target="_blank"><b>Covaxin</b>by Bharath Bio tech</a>
                                    </li>
                                </ul>
                                <div class="card-footer">
                                    <button class="btn btn-primary" (click)='vote("Covaxin")'>Vote</button>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-6 col-xl-3">
                            <div class="card">
                                <div class="card-header">
                                    <clr-icon shape="cloud" dir="up" class="-color6" size="24" style="color: #d20059; width: 24px; height: 24px;"></clr-icon> Covishield
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <a href="https://www.seruminstitute.com/product_covishield.php" target="_blank"><b>Covishield</b>by Serum Institite</a>
                                    </li>
                                </ul>
                                <div class="card-footer">
                                    <button class="btn btn-primary" (click)='vote("Covishield")'>Vote</button>
                                </div>

                            </div>
                        </div>

                        <div class="col-sm-12 col-md-6 col-xl-3">
                            <div class="card">
                                <div class="card-header">
                                    <clr-icon shape="compass" dir="up" class="-color6" size="24" style="color: #00A98C; width: 24px; height: 24px;"></clr-icon> Pfizer
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <a href="https://www.cdc.gov/coronavirus/2019-ncov/vaccines/different-vaccines/Pfizer-BioNTech.html" target="_blank"><b>Pfizer</b>by BioNTech</a>
                                    </li>
                                </ul>
                                <div class="card-footer">
                                    <button class="btn btn-primary" (click)='vote("Pfizer")'>Vote</button>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-6 col-xl-3">
                            <div class="card">
                                <div class="card-header">
                                    <clr-icon shape="dollar-bill" dir="up" class="-color6" size="24" style="color: #318700; width: 24px; height: 24px;"></clr-icon> Sputnik
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <a href="https://sputnikvaccine.com/" target="_blank"><b>Sputnik</b> by GOI and Russia</a>
                                    </li>
                                </ul>
                                <div class="card-footer">
                                    <button class="btn btn-primary" (click)='vote("Sputnik")'>Vote</button>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="spacer"></div>
 

<div class="row flex-items-xs-middle">
    <div class="col-xs">
    </div>
    <div class="col-xs">
        <ngx-charts-advanced-pie-chart [view]="view" [scheme]="colorScheme" [results]="votes" [gradient]="gradient">
        </ngx-charts-advanced-pie-chart>
    </div>
    <div class="col-xs">
    </div>
</div>



              <div class="row flex-items-xs-middle">


                        <div class="col-sm-12 col-md-6 col-xl-3">
                            <div class="card">
                                
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <a target="_blank">Number of page views so far: <b><u>{{stats.pageviews}}</u></b></a>
                                    </li>
                                </ul>
                            </div>
                        </div>


              </div>          

                    <div class="spacer"></div>

<!--
                    <div class="label label-blue label-success">
                        Number of page views
                        <span class="badge"><%= @pageviews %></span>
                    </div>

-->

                    <div class="separator"></div>

                    <div class="row">

                        <div style="width: 100%; margin-left: 0px; margin-right: 0px;">
                            <h3 class="aligned-left" style="display: block;">Survey details by GOI</h3>
                        </div>


                        <div class="col-sm-12 col-md-6 col-xl-3">
                                <a href="https://www.briefindia.com/wp-content/uploads/2021/01/Pilot-Consumer-Survey-in-India_COVID19-Vaccination.pdf" class="card clickable" target="_blank">
                                    <div class="card-block">
                                        <p class="card-text">
                                            <img src="https://vmware.github.io/clarity/clarity_logo.21dda15557a6ebf26fce.svg" style="width: 24px; margin-right: 12px;">Survey Reports
                                        </p>
                                    </div>
                                </a>
                        </div>

                        
                    </div>

                </div>
            </div>

        </div>
    </div>
</body>
</html>
